.container__small-card {
  /* border: 1px solid #FFFFFF; */
  width: 1000px;
  margin: 0 0 15px 40px;
}

.container__small-card-content {
  display: flex;
  flex-direction: row;
}

.small-card__photo>img {
  width: 200px;
  min-width: 200px;
  max-height: 150px;
  margin: 0 20px 0 0;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__small-card__separator {
  margin-top: 10px;
}
